@import "node_modules/webkit-sassui-backdrop/dist/webkit-sassui-backdrop.scss";
@import "node_modules/webkit-sassui-popup/dist/webkit-sassui-popup.scss";

$react-popup-options: (
  popup-z-index: 100,
  backdrop-z-index: 98
) !default;

.react-popup {
  $popup-z-index: map-get(
    $map: $react-popup-options,
    $key: popup-z-index
  );
  $backdrop-z-index: map-get(
    $map: $react-popup-options,
    $key: backdrop-z-index
  );

  &,
  &-backdrop {
    position: fixed;
  }

  z-index: $popup-z-index;
  &-bakcdrop {
    z-index: $backdrop-z-index;
  }
}
