.react-popup{
  position: fixed;
  left: 0;

  backface-visibility: hidden;
  z-index: 3;
  width: 100%;
  color:#333;
  background: #eee;
  transition: transform 0.3s,-webkit-transform 0.3s;


  //popup from top:
  &[data-direction=top]{
    top: 0;
    &[data-visible=false]{
      transform: translateY(-100%);
    }

    &[data-visible=true]{
      transform: translateY(0);
    }
  }

  //popup from bottom:
  &[data-direction=bottom]{
    bottom:0;
    &[data-visible=false]{
      transform: translateY(100%);
    }

    &[data-visible=true]{
      transform: translateY(0);
    }
  }


  //popup from left:
  &[data-direction=left]{
    top: 0;
    &[data-visible=false]{
      transform: translateX(-100%);
    }

    &[data-visible=true]{
      transform: translateX(0);
    }
  }


  //popup from right:
  &[data-direction=right]{
    top: 0;
    &[data-visible=false]{
      transform: translateX(100%);
    }

    &[data-visible=true]{
      transform: translateX(0);
    }
  }

}
