*{margin: 0;padding:0;}
ul,li{list-style: none;}
html,body,#app,{
  height:100%;
}

.hello-react-popup{
  height:100%;
  color:#F00;
  padding:100px 20px;
  position: relative;
  button{
    width:100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color:#FFF;
    padding:20px;
    border: none;

    &:active{
      // background: darken(#3cc51f,10%);
    }

    &:focus{
      outline: none;
    }
  }


}


.react-popup{
  .content{
    background: #fff;
    h1{
      border-left: 5px solid #CCC;
      padding-left: 10px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    p{
      margin-bottom: 10px;
      line-height: 22px;
    }
    cite{
      color:#999;
      padding:10px;
      display: block;
    }
    img{
      width:100%;
    }
  }
}

.my-full-popup{
  background: #fff;
}
